<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/login/css/login.css">
  <title>Login</title>
</head>
<body>
  <div class="full-screen-container">
    <div class="login-container">
      <h3 class="login-title">Sign in</h3>
      <form method="post" enctype="application/x-www-form-urlencoded" action="/login/checker">
        <div class="input-group">
          <label>Name</label>
          <input class="input-name" name="name" type="text" placeholder="Ismingizni kiriting" required/>
        </div>
        <div class="input-group">
          <label>Password</label>
          <input class="input-password" name="password" type="password" placeholder="Parolingizni kiriting" required />
        </div>
        <button type="submit" class="login-button">Sign In</button>
      </form>
    </div>
  </div>
</body>
</html>